{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Form</title>

    <link rel="stylesheet" href="{% static 'css/PayCard.css' %}">
</head>

<body>
<p>Time to pay.</p>
  <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <div class="inlineimage">
              <img class="img-responsive images" src="{% static 'images/bkash.png' %}" alt="Bkash">
             <!-- <img class="img-responsive images" src="{% static 'images/nagad.png' %}" alt="Nagad">-->
              <img class="img-responsive images" src="{% static 'images/rocket.png' %}" alt="Rocket">
              <br>
			  <br>
			  <a href="{% url 'Cus6_PaymentCard' %}">Pay via Card</a>
            </div>
            <h3>Payment App</h3>
            <div class="text-center">
              <input type="radio" id="bkash" name="pay_app" value="bkash">
              <label for="bkash">Bkash</label>
              <input type="radio" id="rocket" name="pay_app" value="rocket">
              <label for="rocket">Rocket</label>
              <input type="radio" id="nagad" name="pay_app" value="nagad">
              <label for="nagad">Nagad</label>
            </div>
          </div>
		  <form role="form" action="reservation" method="post">
			<div class="panel-body">
				<!-- Full Name -->
				<div class="form-group">
					<label for="fullname">Full Name</label>
					<input type="text" class="form-control" id="fullname" placeholder="Enter your full name" required/>
				</div>
		
				<!-- Phone Number -->
				<div class="form-group">
					<label for="phonenumber">Phone Number</label>
					<input type="text" class="form-control" id="phonenumber" placeholder="Enter your phone number" required/>
				</div>
		
				<!-- Pin Number -->
				<div class="form-group">
					<label for="pinnumber">Pin Number</label>
					<input type="password" class="form-control" id="pinnumber" placeholder="Enter your pin number" required/>
				</div>
			</div>
		
			<!-- Submit Button -->
			<div class="panel-footer">
				<div class="row">
					<div class="col-xs-12">
						<input type="submit" value="Confirm Payment" class="btn btn-success btn-lg btn-block" />
					</div>
				</div>
			</div>
		</form>
						</div>
      </div>
    </div>
  </div>

	<style>
	
</style>
</body>
</html>
